
body
    font-family: roboto
.h1
    font-size: 52px
    font-family: roboto
.container
    width: 80%
    margin: auto

.app
    border: 1px solid #000000
    padding: 10px
.btn-menu
.btn
    padding: 10px
    border: 0
    outline: none
    background: #f2b632
    color: #ffffff
    font-weight: 800
    cursor: pointer
    letter-spacing: 1px
    margin: 5px
    border-radius: 0px
    transition: all 0.3s ease
    &:hover
        background: darken(#f2b632, 10%)

#tableContainer
    margin-top: 20px
.table
    border-collapse: collapse
    text-transform: capitalize
    width: 100%
    border: none
.thead
    font-weight: 800
    text-align: center
    font-size: 18px
    color: #fff
    .tr
        border: none
        .th
            background: #252839
            border: 1px solid #000
            padding: 5px

.tbody
    .tr
        width: 100%
        border: none
        &:hover > .controll_container
            opacity: 1

        .td
            border: 1px solid #000
            padding: 5px
            // width: 100%
.tbody>.tr>.td.edit
    .input
        display: block
    .label
        display: none
.input
    outline: none
    display: none

.btn_control
    padding: 5px 10px
    border: 0
    outline: none
    background: #edd9c0
    color: #7d4627
    font-weight: 800
    cursor: pointer
    letter-spacing: 1px
    margin: 5px
    border-radius: 0px
    transition: all 0.3s ease
    &:hover
        background: darken(#edd9c0, 10%)

.controll_container
    // opacity: 0
    display: flex
    .btn_control
        flex: 1

.btnHead
    color: #fff
    padding: 5px 20px
.headLink